.about__container{
    /* display: grid;
    grid-template-columns: 30% 60%;
    gap: 5%; */
    padding: 2rem 0;
    width: 60%;
    margin: 0 auto;
}
.about__me__left{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(var(--color-primary), transparent);
    display: grid;
    place-items: center;
}
.about__me__left .about_me_img{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}
.about_me_img:hover{
    transform: rotate(0deg);
}
.about__box__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 1rem;
}
.about__me_right > p{
    text-align: justify;
    background: var(--color-bg);
    padding: 0.5rem 0;
    font-size: 0.9rem;
}
.single_about_box{
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    
}
.single_about_box > h4{
    padding-bottom: 5px;
    border-bottom: 2px solid orange;
}
.about__box__text{
    padding-top: 1rem;
    text-align: justify;
    font-size: 0.9rem;
}
.frontend__develoer{
    background-color: var(--color-bg-variant);
}
.full__stack__developer{
    background-color: var(--color-primary);
}
.about__action__btn{
    margin-top: 1rem;
}
.about__me__text{
    font-size: .9rem;
}
/* ------------Media Queries (Medium Screen) ------------*/

@media screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me__left{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__me_right > p {
        margin: 1rem 0 1.5rem;
    }
}

/* ------------Media Queries (Small Screen) ------------*/

@media screen and (max-width: 600px) {
    .about__box__container{
        grid-template-columns: repeat(1, 1fr);
    }
    .about__me__left{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about__me_right > p {
        margin: 1.5rem 0;
    }
}